<table>
    <tbody>
    <tr>
        <td>
            @for (restriction of capacityRestrictions ?? []; track restriction.id) {
                <table>
                    <tbody>
                    <tr>
                        <td>Date</td>
                        <td>{{ restriction.startDate }} - {{ restriction.endDate }}</td>
                    </tr>
                    <tr>
                        <td>AffectedRoute</td>
                        <td>{{ restriction.affectedRoute }}</td>
                    </tr>
                    <tr>
                        <td>Milage</td>
                        <td>{{ restriction.startMilage }} - {{ restriction.endMilage }}</td>
                    </tr>
                    <tr>
                        <td>type</td>
                        <td>{{ restriction.type }}</td>
                    </tr>
                    <tr>
                        <td>status</td>
                        <td>{{ restriction.status }}</td>
                    </tr>
                    <tr>
                        <table class="striped-table">
                            <tr>
                                <td>Restrictions:</td>
                                <td>
                                    <app-measure [measures]="restriction.measures"/>
                                </td>
                            </tr>
                        </table>
                    </tr>
                    </tbody>
                </table>
            }
        </td>
    </tr>
    </tbody>
</table>
