<table>
    <tbody>
    <tr>
        <td>
            <table>
                <thead>
                <tr>
                    <th>Date</th>
                    <th>AffectedRoute</th>
                    <th>Milage</th>
                    <th>Type</th>
                </tr>
                </thead>
                <tbody>
                    @for (restriction of capacityRestrictions ?? []; track restriction.id) {
                        <tr>

                            <td>{{ restriction.startDate | formatDateTime }}
                                - {{ restriction.endDate | formatDateTime }}
                            </td>
                            <td>{{ restriction.affectedRoute }}</td>
                            <td>{{ restriction.startMilage }} - {{ restriction.endMilage }}</td>
                            <td>{{ restriction.type }}</td>
                            <td>{{ restriction.status }}</td>
                        </tr>
                        <tr>
                            <table class="striped-table">
                                <tr>
                                    <td>Restrictions:</td>
                                    <td>
                                        <app-measure [measures]="restriction.measures"/>
                                    </td>
                                </tr>
                            </table>
                        </tr>
                    }
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
