<div class="container">

    <mat-card class="baustelle-card">
        <mat-card-header>
            <mat-card-title>Baustelle Details</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            @if (constructionDossier$ | async; as constructionDossier) {
            <div class="baustelle-details">
                <table class="main-table">
                    <tbody>
                        <tr>
                            <td class="label">Id</td>
                            <td>{{ constructionDossier.id }}</td>

                        </tr>
                        <tr>
                            <td class="label">Name</td>
                            <td>{{ constructionDossier.name }}</td>
                        </tr>
                        <tr>
                            <td class="label">Date</td>
                            <td>
                                From: {{ constructionDossier.startDate | formatDateTime }}<br>
                                To: {{ constructionDossier.endDate | formatDateTime }}
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Affected Sections</td>
                            <td>{{ constructionDossier.affectedSection }}</td>
                        </tr>
                        <tr>
                            <td class="label">Status</td>
                            <td colspan="2">
                                <span class="status-chip">{{ constructionDossier.status }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="restrictions-section">
                <h3>Capacity Restrictions</h3>
                <app-restriction [capacityRestrictions]="constructionDossier.restrictions" />
            </div>
            }
        </mat-card-content>
    </mat-card>

    <mat-card class="baustelle-card">
        <mat-card-header>
            <mat-card-title>Map</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            @if (constructionDossier$ | async; as constructionDossier) {
            @if (getGeoPosition(constructionDossier.geoPosition); as geo) {
            <app-map [latitude]="geo.lat" [longitude]="geo.lng" />
            }
            }
        </mat-card-content>
    </mat-card>

</div>
