<mat-card>
    <mat-card-header>
        <mat-card-title>Baustelle</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        @if (constructionDossier$ | async; as constructionDossier) {
            <table class="main-table">
                <tbody>
                <tr>
                    <td>Id</td>
                    <td>{{ constructionDossier.id }}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{ constructionDossier.name }}</td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td>{{ constructionDossier.startDate }} - {{ constructionDossier.endDate }}</td>
                </tr>
                <tr>
                    <td>Affected Sections</td>
                    <td>{{ constructionDossier.affectedSection }}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>{{ constructionDossier.status }}</td>
                </tr>
                <tr>
                    <td></td>
                    @if (getGeoPosition(constructionDossier.geoPosition); as geo) {
                        <app-map
                            [latitude]="geo.lat"
                            [longitude]="geo.lng"/>
                    }
                </tr>
                </tbody>
            </table>
        }

        <mat-card>
            <mat-card-header>
                <mat-card-title>Baustelle</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                @if (constructionDossier$ | async; as constructionDossier) {
                    <app-restriction [capacityRestrictions]="constructionDossier.restrictions"/>
                }
            </mat-card-content>
        </mat-card>

    </mat-card-content>
</mat-card>
