<mat-toolbar class="toolbar-format">
  <mat-toolbar-row class="nav-width">
    <!--<span><img alt="Deutsche Bahn Logo" class="toolbar-logo" height="29" ngSrc="assets/db_logo.svg"
               width="42"></span>-->
    <span class="toolbar-headline">Nutzt KI</span>
    <span class="example-spacer"></span>
    <button [routerLink]="'./baustelle'" mat-button
            routerLinkActive='nav-selected'
    >Baustellen
    </button>
    <button [routerLink]="'./about'" mat-button
            routerLinkActive='nav-selected'
    >About
    </button>
  </mat-toolbar-row>
</mat-toolbar>
