@use "@angular/material" as mat;
html {
    @include mat.theme(
        (
            color: (
                primary: mat.$azure-palette,
                tertiary: mat.$orange-palette,
                theme-type: light
            ),
            typography: Open Sans,
            density: 0
        )
    );
}

html, body { height: 100%; }
body { margin: 0; font-family:Open Sans, "Open Sans", sans-serif; }
